## Кодировка сайта
#AddDefaultCharset utf-8
#DefaultLanguage ru
#SetEnv Europe/Kiev
##SetEnv SERVER_ADMIN (ВАШ EMAIL)
#
#Options FollowSymLinks
#
#
#<IfModule mod_rewrite.c>
#    RewriteEngine On
#
#    # the main rewrite rule for the frontend application
#    RewriteCond %{REQUEST_URI} !^/(backend/web|admin)
#    RewriteRule !^frontend/web /frontend/web%{REQUEST_URI} [L]
#
#    # redirect to the page without a trailing slash (uncomment if necessary)
#    #RewriteCond %{REQUEST_URI} ^/admin/$
#    #RewriteRule ^(admin)/ /$1 [L,R=301]
#    # the main rewrite rule for the backend application
#    RewriteCond %{REQUEST_URI} ^/admin
#    RewriteRule ^admin(.*) /backend/web/$1 [L]
#
#    # if a directory or a file of the frontend application exists, use the request directly
#    RewriteCond %{REQUEST_URI} ^/frontend/web
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{REQUEST_FILENAME} !-d
#    # otherwise forward the request to index.php
#    RewriteRule . /frontend/web/index.php [L]
#
#    # if a directory or a file of the backend application exists, use the request directly
#    RewriteCond %{REQUEST_URI} ^/backend/web
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteCond %{REQUEST_FILENAME} !-d
#    # otherwise forward the request to index.php
#    RewriteRule . /backend/web/index.php [L]
#
#    RewriteCond %{REQUEST_URI} \.(htaccess|htpasswd|svn|git)
#    RewriteRule \.(htaccess|htpasswd|svn|git) - [F]
#</IfModule>
#
#
## БЕЗОПАСНОСТЬ
##Dывод подвала страницы в документах для безопасности. Убираем вывод информации
#ServerSignature Off
##Так-же настроить в конфиге Apache параметр "ServerTokens"
##которая выводит информацию о сервере. Выводим минимальную.
##ServerTokens ProductOnly
#
## Запрещаем доступ к .htaccess
#<Files .htaccess>
#    order allow,deny
#    deny from all
#</Files>
#
#  # Запрещаем просмотр содержимого папок
#<IfModule mod_autoindex.c>
#    Options -Indexes
#</IfModule>
## /БЕЗОПАСНОСТЬ
#
## КЕШИРОВАНИЕ
#<IfModule mod_expires.c>
#    # включаем кэширование для всех файлов
#    ExpiresActive On
#    # включаем кэширование для некоторых типов файлов сроком на 30 дней (2592000)
#    <FilesMatch ".(flv|gif|jpg|jpeg|png|ico|swf|js|css|pdf)$">
#        Header set Cache-Control "max-age=2592000"
#    </FilesMatch>
#
#    # отключаем его для HTML-файлов
#    <FilesMatch .*\.(htm|txt|shtml|html|phtml|php)$>
#        ExpiresActive Off
#    </FilesMatch>
#</IfModule>
## /КЕШИРОВАНИЕ